**Importing** the **libraries**

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
tf.__version__

'2.3.0'

**Data** **Preprocessing**

In [ ]:
churn_modeling=pd.read_csv('drive/My Drive/Churn_Modelling.csv')
churn_modeling.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
c=churn_modeling.copy()
c.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
churn_modeling.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)
churn_modeling.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
churn_modeling.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
X=churn_modeling.drop('Exited',axis=1).values

In [ ]:
y=churn_modeling['Exited'].values

In [ ]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [ ]:
print(y)

[1 0 1 ... 1 1 0]

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
X[:,2]=lb.fit_transform(X[:,2])

In [ ]:
print(X)
print(X.shape)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]
(10000, 10)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
X=np.array(ct.fit_transform(X))

In [ ]:
print(X)
print(X.shape)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]
(10000, 12)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

**feature Scaling  :**  Feature Scaling is compulsory for deep learning

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [ ]:
print(X_train.shape)

(8000, 12)

**Creating ANN**

In [ ]:
ann=tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=8,activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

**Compiling the model**

In [ ]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

**Fitting model on training dataset**

In [ ]:
ann.fit(X_train,y_train,batch_size=35,epochs=100)

Epoch 1/100
229/229 [==============================] - 0s 2ms/step - loss: 0.4889 - accuracy: 0.7960
Epoch 2/100
229/229 [==============================] - 0s 2ms/step - loss: 0.4482 - accuracy: 0.7960
Epoch 3/100
229/229 [==============================] - 0s 2ms/step - loss: 0.4372 - accuracy: 0.7960
Epoch 4/100
229/229 [==============================] - 0s 2ms/step - loss: 0.4315 - accuracy: 0.7960
Epoch 5/100
229/229 [==============================] - 0s 2ms/step - loss: 0.4278 - accuracy: 0.7986
Epoch 6/100
229/229 [==============================] - 0s 1ms/step - loss: 0.4242 - accuracy: 0.8114
Epoch 7/100
229/229 [==============================] - 0s 2ms/step - loss: 0.4200 - accuracy: 0.8202
Epoch 8/100
229/229 [==============================] - 0s 2ms/step - loss: 0.4151 - accuracy: 0.8260
Epoch 9/100
229/229 [==============================] - 0s 1ms/step - loss: 0.4101 - accuracy: 0.8304
Epoch 10/100
229/229 [==============================] - 0s 1ms/step - loss: 0.4045 - accuracy: 0.8322
Epoch 11/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3997 - accuracy: 0.8338
Epoch 12/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3947 - accuracy: 0.8353
Epoch 13/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3906 - accuracy: 0.8375
Epoch 14/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3866 - accuracy: 0.8388
Epoch 15/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3820 - accuracy: 0.8411
Epoch 16/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3775 - accuracy: 0.8444
Epoch 17/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3721 - accuracy: 0.8470
Epoch 18/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3662 - accuracy: 0.8503
Epoch 19/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3589 - accuracy: 0.8533
Epoch 20/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3534 - accuracy: 0.8580
Epoch 21/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8591
Epoch 22/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8589
Epoch 23/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3460 - accuracy: 0.8596
Epoch 24/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8595
Epoch 25/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8594
Epoch 26/100
229/229 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8595
Epoch 27/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8601
Epoch 28/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8610
Epoch 29/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8596
Epoch 30/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8606
Epoch 31/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8597
Epoch 32/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8604
Epoch 33/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8608
Epoch 34/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8606
Epoch 35/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8612
Epoch 36/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8615
Epoch 37/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8600
Epoch 38/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8609
Epoch 39/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8612
Epoch 40/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8611
Epoch 41/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8600
Epoch 42/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8605
Epoch 43/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8610
Epoch 44/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8620
Epoch 45/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8600
Epoch 46/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8612
Epoch 47/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8601
Epoch 48/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8606
Epoch 49/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8616
Epoch 50/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8602
Epoch 51/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8621
Epoch 52/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8599
Epoch 53/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8605
Epoch 54/100
229/229 [==============================] - 0s 979us/step - loss: 0.3357 - accuracy: 0.8604
Epoch 55/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8600
Epoch 56/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8586
Epoch 57/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8618
Epoch 58/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8614
Epoch 59/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8600
Epoch 60/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8611
Epoch 61/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8618
Epoch 62/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8625
Epoch 63/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8611
Epoch 64/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8611
Epoch 65/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8629
Epoch 66/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8609
Epoch 67/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8618
Epoch 68/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8621
Epoch 69/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8618
Epoch 70/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8615
Epoch 71/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8633
Epoch 72/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8615
Epoch 73/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8620
Epoch 74/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8633
Epoch 75/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8615
Epoch 76/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8626
Epoch 77/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8619
Epoch 78/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8652
Epoch 79/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8630
Epoch 80/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8611
Epoch 81/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8619
Epoch 82/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8612
Epoch 83/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8633
Epoch 84/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8634
Epoch 85/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8620
Epoch 86/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8633
Epoch 87/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8626
Epoch 88/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8622
Epoch 89/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8615
Epoch 90/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8635
Epoch 91/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8629
Epoch 92/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8624
Epoch 93/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8637
Epoch 94/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8624
Epoch 95/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8636
Epoch 96/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8633
Epoch 97/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3301 - accuracy: 0.8636
Epoch 98/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8615
Epoch 99/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3299 - accuracy: 0.8634
Epoch 100/100
229/229 [==============================] - 0s 1ms/step - loss: 0.3300 - accuracy: 0.8627

In [ ]:
output=ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>0.5

In [ ]:
print(output)

[[False]]

In [ ]:
y_pred=ann.predict(X_test)
y_pred=(y_pred>0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

**Validating the model by Using different metrics**

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
cm

array([[1535,   60],
       [ 218,  187]])

In [ ]:
accuracy_score(y_test,y_pred)

0.861